input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  width: 100%;
  display: block;
  padding-bottom: 5px;
  color: #fff !important;
  font-weight: lighter;
  margin-bottom: 30px;
  margin-right: 20px;
  letter-spacing: 2px;
  font-size: 20px;
  outline: none;
}

button {
  border: none;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}
